*{
  margin: 0;
  padding: 0;
}


.header {
  background-color: #5f84ce;
  height: 50px;
  display: flex;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: #fff;
}.header nav{
  /* display: flex; */
  /* align-items: end;
  position: end; */
  position: absolute;
  right: 20px;
  color: #fff;
 
  
}.link{
  padding:10px;
  color:#fff;
}

.App-link {
  color: #61dafb;
}
.Error{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}